
Tehtävä 4/Tehtävä 4/Tehtävä 4.csproj
Tehtävä 4/Tehtävä 4/Program.cs
Tehtävä 4/Tehtävä 4/obj/Tehtävä 4.csproj.nuget.g.targets
Tehtävä 4/Tehtävä 4/obj/Tehtävä 4.csproj.nuget.g.props
Tehtävä 4/Tehtävä 4/obj/Tehtävä 4.csproj.nuget.dgspec.json
Tehtävä 4/Tehtävä 4/obj/project.nuget.cache
Tehtävä 4/Tehtävä 4/obj/project.assets.json
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.pdb
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.genruntimeconfig.cache
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.GeneratedMSBuildEditorConfig.editorconfig
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.dll
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.csproj.FileListAbsolute.txt
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.csproj.CoreCompileInputs.cache
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.csproj.AssemblyReference.cache
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.assets.cache
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.AssemblyInfoInputs.cache
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/Tehtävä 4.AssemblyInfo.cs
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/ref/Tehtävä 4.dll
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/apphost.exe
Tehtävä 4/Tehtävä 4/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.runtimeconfig.json
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.runtimeconfig.dev.json
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.pdb
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.exe
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.dll
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/Tehtävä 4.deps.json
Tehtävä 4/Tehtävä 4/bin/Debug/net5.0/ref/Tehtävä 4.dll
Tehtävä 4/Tehtävä 4.sln
Tehtävä 4/.vs/Tehtävä 4/v16/.suo
Tehtävä 4/.vs/Tehtävä 4/DesignTimeBuild/.dtbcache.v2
tehtävä 3.4/.vs/tehtävä 3.4/v16/.suo
tehtävä 3.4/.vs/tehtävä 3.4/DesignTimeBuild/.dtbcache.v2
tehtävä 3.3/tehtävä 3.3/Program.cs
tehtävä 3.3/tehtävä 3.3/obj/Debug/net5.0/tehtävä 3.3.pdb
tehtävä 3.3/tehtävä 3.3/obj/Debug/net5.0/tehtävä 3.3.dll
tehtävä 3.3/tehtävä 3.3/obj/Debug/net5.0/ref/tehtävä 3.3.dll
tehtävä 3.3/tehtävä 3.3/bin/Debug/net5.0/tehtävä 3.3.pdb
tehtävä 3.3/tehtävä 3.3/bin/Debug/net5.0/tehtävä 3.3.dll
tehtävä 3.3/tehtävä 3.3/bin/Debug/net5.0/ref/tehtävä 3.3.dll
tehtävä 3.3/.vs/tehtävä 3.3/v16/.suo
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/Program.cs
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/obj/Debug/net5.0/Tehtävä 3 - Nuolia kaupan.pdb
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/obj/Debug/net5.0/Tehtävä 3 - Nuolia kaupan.dll
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/obj/Debug/net5.0/ref/Tehtävä 3 - Nuolia kaupan.dll
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/bin/Debug/net5.0/Tehtävä 3 - Nuolia kaupan.pdb
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/bin/Debug/net5.0/Tehtävä 3 - Nuolia kaupan.dll
Tehtävä 3 - Nuolia kaupan/Tehtävä 3 - Nuolia kaupan/bin/Debug/net5.0/ref/Tehtävä 3 - Nuolia kaupan.dll
Tehtävä 3 - Nuolia kaupan/.vs/Tehtävä 3 - Nuolia kaupan/v16/.suo
KevinHarjoitustyö/KevinHarjoitustyö/Program.cs
KevinHarjoitustyö/KevinHarjoitustyö/obj/project.nuget.cache
KevinHarjoitustyö/KevinHarjoitustyö/obj/project.assets.json
KevinHarjoitustyö/KevinHarjoitustyö/obj/KevinHarjoitustyö.csproj.nuget.g.targets
KevinHarjoitustyö/KevinHarjoitustyö/obj/KevinHarjoitustyö.csproj.nuget.g.props
KevinHarjoitustyö/KevinHarjoitustyö/obj/KevinHarjoitustyö.csproj.nuget.dgspec.json
KevinHarjoitustyö/KevinHarjoitustyö/obj/Debug/net5.0/KevinHarjoitustyö.GeneratedMSBuildEditorConfig.editorconfig
KevinHarjoitustyö/KevinHarjoitustyö/obj/Debug/net5.0/KevinHarjoitustyö.csproj.AssemblyReference.cache
